<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register-style.css') }}">
    <title>Login - Pantry</title>
</head>
<body>
    
    <main class="login-register-container">
        <section class="login-register-card">
            <img src="{{ url_for('static', filename='img/pantry-icon.svg') }}" alt="Pantry logo">
            <h1>Pantry</h1>
            <p class="tagline">Use More. Waste Less.</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="flash-{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('login') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="field">
                    <label for="email">Email:</label>
                    <input type="email" name="email" placeholder="youremail@example.com" required>
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>
                <button class="login-register-btn" type="submit">Log In</button>
            </form>
            <p class="login-register-link">Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a>.</p>
        </section>
    </main>
    
</body>
</html>